@import "tailwindcss";

@theme {
    --color-red-bg: #fb5859;
    --color-blue-bg: #5266df;
    --color-blue-bg-dark: #242946;
    --color-semi-transparent-bg: rgba(26, 48, 95, 0.93);
    --color-text-black: #252b45;
    --color-text-grey: #9a9b9f;
    --color-shadow: #9a9b9f83;
    --color-grey-bg: #f7f7f7;
    --animate-fill-red: invert(0.7) sepia(72%) saturate(983%) hue-rotate(319deg)
        brightness(119%) contrast(97%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
html *,
html *::before,
html *::after {
    box-sizing: inherit;
}
html body {
    overflow-x: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}
html body a {
    text-decoration: none;
}
html body img {
    max-width: 100%;
}
html body h1,
html body .h1 {
    font-size: 4rem;
}
html body h2,
html body .h2 {
    font-size: 3.5rem;
}
html body h3,
html body .h3 {
    font-size: 2.5rem;
}
html body .shadow {
    box-shadow: 5px 4px 14px 1px rgba(154, 155, 159, 0.5137254902);
    -webkit-box-shadow: 5px 4px 14px 1px rgba(154, 155, 159, 0.5137254902);
    -moz-box-shadow: 5px 4px 14px 1px rgba(154, 155, 159, 0.5137254902);
}
