@use "../base/variables";
@use "../base/mixins";

.features {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            text-align: center;
            margin: 0 auto 5rem auto;
            width: 50%;
            font-size: 2rem;
            color: variables.$text-grey;
            line-height: 3.5rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__tabs {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid variables.$text-grey;

        &-divider {
            display: none;
        }

        &-label {
            position: relative;
            padding: 2rem 0;
            font-size: 2rem;
            cursor: pointer;

            @include mixins.hover-text(variables.$red-bg);

            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: variables.$red-bg;
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }

    &__content {
        display: none;

        &.active {
            display: flex;
            margin: 5rem auto;
            gap: 5rem;
        }

        &-text {
            flex: 1;
            margin: 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            &-title {
                margin: 2rem 0;
            }

            &-text {
                font-size: 2rem;
                color: variables.$text-grey;
                line-height: 3.5rem;
                margin: 2rem 0;
            }
        }

        &-img {
            &--1,
            &--2,
            &--3 {
                position: relative;
                flex: 1;
            }

            &--1::before,
            &--2::before,
            &--3::before {
                position: absolute;
                z-index: -1;
                content: "";
                top: 20%;
                right: 25%;
                height: 90%;
                width: 100vw;
                border-top-right-radius: 25rem;
                border-bottom-right-radius: 25rem;
                background-color: variables.$blue-bg;
            }
        }
    }

    &__info {
        margin: 3rem 0;

        &-text {
            background-color: variables.$blue-bg;
            color: variables.$grey-bg;
            padding: 2rem 3rem;
            border-radius: 0.5rem;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 768px) {
    .features__header-text {
        width: 90%;
    }

    .features__tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;

        &-divider {
            display: block;
            width: 90%;
            opacity: 25%;
            margin: 0;
        }

        &-label {
            padding: 2rem 0;
            font-size: 2rem;
        }
    }

    .features__content--1,
    .features__content--2,
    .features__content--3 {
        flex-direction: column;
        width: 90%;
        margin: 5rem auto;
    }

    .features__content-img--1::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 25%;
        right: 15%;
        height: 90%;
        width: 100vw;
        border-bottom-right-radius: 15rem;
        background-color: variables.$blue-bg;
    }

    .features__content-img--2::before,
    .features__content-img--3::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 20%;
        right: 25%;
        height: 90%;
        width: 100vw;
        border-top-right-radius: 25rem;
        border-bottom-right-radius: 25rem;
        background-color: variables.$blue-bg;
    }

    .features__content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5rem auto 0;

        &-title {
            margin: 2rem auto;
            text-align: center;
        }

        &-text {
            margin: 1rem auto;
            text-align: center;
            font-size: 2rem;
            color: variables.$text-grey;
            line-height: 3.5rem;
        }
    }

    .features__info {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .features__content-img--1::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 25%;
        right: 15%;
        height: 100%;
        width: 100vw;
        border-bottom-right-radius: 15rem;
        background-color: variables.$blue-bg;
    }

    .features__content-img--2::before,
    .features__content-img--3::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 20%;
        right: 18%;
        height: 90%;
        width: 100vw;
        border-top-right-radius: 25rem;
        border-bottom-right-radius: 25rem;
        background-color: variables.$blue-bg;
    }
}
