@use "../base/variables";
@use "../base/mixins";

.footer {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-color: variables.$blue-bg-dark;
        width: 100vw;
        height: 100%;
        z-index: -1;
    }

    &__elements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 0;
        margin: 0 auto;
        max-width: 120rem;

        &-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8rem;

            &-link {
                text-transform: uppercase;
                font-size: 1.8rem;
                color: variables.$grey-bg;

                @include mixins.hover-text(variables.$red-bg);
            }
        }
        &-social {
            display: flex;
            gap: 5rem;

            &-facebook,
            &-twitter {
                @include mixins.hover-icon();
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        &__elements {
            padding: 4rem 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            &-nav {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 3rem;

                &-bookmark {
                    margin-bottom: 2rem;
                }
            }

            &-social {
                margin: 3rem auto 1rem auto;
            }
        }
    }
}
