@use "../base/variables";
@use "../base/mixins";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        background: variables.$blue-bg;
        width: 100vw;
        height: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem auto;

        &-subtitle {
            margin: 1rem auto;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            color: variables.$grey-bg;
        }

        &-title {
            width: 90%;
            margin: 1rem auto 4rem auto;
            text-align: center;
            color: variables.$grey-bg;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        width: 90%;

        &-email-container {
            position: relative;
            flex: 2;

            &-input {
                position: relative;
                width: 100%;
                padding: 2rem;
                font-size: 2rem;
                color: variables.$text-grey;
                border-radius: 0.5rem;
                border: 2px solid transparent;

                &::placeholder {
                    opacity: 50%;
                }
            }

            &.invalid &-input {
                border-color: variables.$red-bg;
            }

            &-error-message {
                display: none;
                position: absolute;
                color: variables.$grey-bg;
                background-color: variables.$red-bg;
                border-bottom: 0.5rem;
                margin-top: -0.3rem;
            }

            &.invalid &-error-message {
                display: block;
                width: 100%;
                font-style: italic;
                font-weight: 700;
                padding: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }

            &-error {
                position: absolute;
                top: 30%;
                right: 2%;
                display: none;
            }

            &.invalid &-error {
                display: block;
            }

            &-button {
                flex: 1;
                width: 50%;
                padding: 2rem;
                font-size: 2rem;
                color: variables.$grey-bg;
                background-color: variables.$red-bg;
                font-weight: 700;
                border-radius: 0.5rem;
                border: 2px solid transparent;

                @include mixins.hover-button(
                    variables.$grey-bg,
                    variables.$red-bg,
                    variables.$red-bg
                );
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .form {
        &__inputs {
            flex-direction: column;
            gap: 3rem;

            &-email-container-label {
                width: 100%;
            }

            &-email-container-button {
                width: 100%;
            }
        }
    }
}
