// COLORS
$red-bg: #fb5859;
$blue-bg: #5266df;
$blue-bg-dark: #242946;
$semi-transparent-bg: rgba(26, 48, 95, 0.93);
$text-black: #252b45;
$text-grey: #9a9b9f;
$shadow: #9a9b9f83;
$grey-bg: #f7f7f7;
// FONTS
$main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
// BREAKPOINTS
$breakpoint-sm: 768px;
